$backColor: #f3f7fa;
$dispFlex: flex;
$width1000: 1000px;

.App {
  text-align: center;

  header {
    margin: 0 auto;
    background-color: $backColor;
    width: $width1000;
    height: 85px;
    display: $dispFlex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
  }

}

section {
  width: $width1000;
  background-color: $backColor;
  display: $dispFlex;
  margin: 0 auto;
  padding-bottom: 100px;
}
.mainLogo {
  height: 82px;
}